In [46]:
import pandas as pd
df_data_historica = pd.read_csv("fifa_cupAmerican.csv")
df_fixture = pd.read_csv("fifa_cupAmerican_fixture.csv")
df_faltante = pd.read_csv("fifa_cupAmerica_faltante.csv")

In [ ]:
#LIMPIEZA DEL FIXTURE

In [47]:
df_fixture["home"] =df_fixture["home"].str.strip()
df_fixture["away"]= df_fixture["away"].str.strip()

In [19]:
#LIMPIEZA DE LA DATA HISTÓRICA Y FALTANTE ()

In [81]:
#df_faltante[df_faltante["away"].isnull()]
#df_historica[df_historica["away"].isnull()]

#Está limpia de espacios en blancos

#Uniendo ambas datas
df_data_total = pd.concat([df_faltante,df_data_historica], ignore_index=True)
#eliminando duplicados
df_data_total.drop_duplicates(inplace=True)
#ordenando basada en la columnda deseada
df_data_total.sort_values("year",inplace=True)
df_data_total

           home score        away  year
478  Argentina    0–0    Paraguay  1924
479    Uruguay    5–0       Chile  1924
480  Argentina    2–0       Chile  1924
481    Uruguay    3–1    Paraguay  1924
482   Paraguay    3–1       Chile  1924
..          ...   ...         ...   ...
475  Argentina    1–1    Colombia  2021
476   Colombia    3–2        Peru  2021
477  Argentina    1–0      Brazil  2021
463     Brazil    4–0        Peru  2021
462   Colombia    0–0   Venezuela  2021

[523 rows x 4 columns]

In [49]:
#Limpieza de la data total

In [101]:
#Hay un problema, en la columna 'score' no es el guion estándar (U+002D), sino un guion en dash (U+2013)
#Para solucionar este problema y buscar correctamente los caracteres que no son dígitos ni guiones estándar
#primero se reemplaza el guion en dash con un guion estándar. Aquí está el código:

df_data_total['score'] = df_data_total['score'].str.replace('\u2013', '-', regex=False)

In [103]:
resultados = df_data_total[df_data_total['score'].str.contains('[^\d-]')]
resultados

           home         score        away  year
104   Paraguay   0-0 (a.e.t.)       Chile  1979
138      Chile   2-1 (a.e.t.)    Colombia  1987
283     Brazil    1-0[note 1]       Chile  1999
376   Colombia   0-2 (a.e.t.)        Peru  2011
377  Argentina   1-1 (a.e.t.)     Uruguay  2011
378     Brazil   0-0 (a.e.t.)    Paraguay  2011
381   Paraguay   0-0 (a.e.t.)   Venezuela  2011

In [105]:
#Limpieza de los caracteres en la columna score par que sea dígito raya dígito
df_data_total['score'] = df_data_total['score'].str.replace('[^\d-]', '', regex=True)

In [108]:
#Limpiando espacios en blanco o vacíos
df_data_total["home"] =df_data_total["home"].str.strip()
df_data_total["away"]= df_data_total["away"].str.strip()

In [113]:
df_data_total[["HomeGoals","AwayGoals"]] = df_data_total['score'].str.split("-", expand=True)

In [115]:
#Eliminando la tabla score 
df_data_total.drop("score", axis=1, inplace=True)

In [119]:
#Renombrando columnas
df_data_total.rename(columns={"home":"HomeTeam","away":"AwayTeam","year":"Year"}, inplace=True)

In [123]:
#TRANFORMACIÓN DE DATOS
df_data_total = df_data_total.astype({"HomeGoals":int, "AwayGoals": int, "Year": int})

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

In [124]:
df_data_total["TotalGoals"] = df_data_total["HomeGoals"] + df_data_total["AwayGoals"]

In [ ]:
#EXPORTACIÓN DE DATOS A FORMATO CSV

In [127]:
df_data_total.to_csv("Clean_CupAmerica.csv", index=False)
df_fixture.to_csv("Clean_Fixture_CupAmerica.csv", index=False)