In [76]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [8]:
urñ = "https://es.wikipedia.org/wiki/Copa_Am%C3%A9rica_2024"
todas_tablas = pd.read_html(url)
print(f"Se encontraron {len(todas_tablas)} tablas.")

Se encontraron 48 tablas.

In [21]:
# tablas A, B, C y D
# Posición de las tablas en 7 
todas_tablas[6]
todas_tablas[13]
todas_tablas[20]
todas_tablas[27]

       Equipo  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0      Brasil     0   0   0   0   0   0   0     0
1    Colombia     0   0   0   0   0   0   0     0
2    Paraguay     0   0   0   0   0   0   0     0
3  Costa Rica     0   0   0   0   0   0   0     0

In [64]:
for letra, i in zip(alfabeto, range(6, min(34, num_tablas), 7)):
	print(letra, i)

A 6
B 13
C 20
D 27

In [72]:
todas_tablas = pd.read_html("https://es.wikipedia.org/wiki/Copa_Am%C3%A9rica_2024")

dict_tablas = {}
for letra, i in zip(alfabeto, range(6, min(34, num_tablas), 7)):  # Asegurarse de no ir fuera del rango de las tablas encontradas
        df = todas_tablas[i]
        df.rename(columns={df.columns[0] : "País"}, inplace=True)
        dict_tablas[f"Grupo {letra}"]= df

In [74]:
dict_tablas.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D'])

In [75]:
dict_tablas["Grupo C"]

             País  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
0  Estados Unidos     0   0   0   0   0   0   0     0
1         Uruguay     0   0   0   0   0   0   0     0
2          Panamá     0   0   0   0   0   0   0     0
3         Bolivia     0   0   0   0   0   0   0     0

In [77]:
with open("dict_table", "wb") as output:
	pickle.dump(dict_tablas, output)