In [1]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [2]:
dict_table = pickle.load(open("dict_table","rb"))
df_historica_data = pd.read_csv("Clean_CupAmerica.csv")
df_fixture = pd.read_csv("Clean_Fixture_CupAmerica.csv")

In [3]:
#CALCULAR TEAM STRENGTH: 
df_historica_data

      HomeTeam   AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0    Argentina   Paraguay  1924          0          0           0
1      Uruguay      Chile  1924          5          0           5
2    Argentina      Chile  1924          2          0           2
3      Uruguay   Paraguay  1924          3          1           4
4     Paraguay      Chile  1924          3          1           4
..         ...        ...   ...        ...        ...         ...
518  Argentina   Colombia  2021          1          1           2
519   Colombia       Peru  2021          3          2           5
520  Argentina     Brazil  2021          1          0           1
521     Brazil       Peru  2021          4          0           4
522   Colombia  Venezuela  2021          0          0           0

[523 rows x 6 columns]

In [4]:
#Poderío de una selección en los goles
df_home = df_historica_data[["HomeTeam","HomeGoals", "AwayGoals"]]
df_away = df_historica_data[["AwayTeam","HomeGoals", "AwayGoals"]]

In [5]:
#Reconmbrar columnas
df_home = df_home.rename(columns={"HomeTeam":"Team","HomeGoals": "ScoredGoals","AwayGoals":"GoalsConceded"})
df_away = df_away.rename(columns={"AwayTeam":"Team","HomeGoals": "GoalsConceded","AwayGoals":"ScoredGoals"})

In [6]:
#Concatenar df_home y df_away, hacer group por team y calulcar promedio
df_team_strong = pd.concat([df_home, df_away], ignore_index = True).groupby("Team").mean()
df_team_strong

               ScoredGoals  GoalsConceded
Team
Argentina         1.861386       0.801980
Bolivia           0.787500       2.100000
Brazil            2.254717       0.754717
Chile             1.547170       1.273585
Colombia          1.138614       1.069307
Costa Rica        1.000000       1.823529
Ecuador           1.148649       1.797297
Haiti             0.333333       4.000000
Honduras          1.166667       0.833333
Jamaica           0.000000       1.500000
Japan             1.000000       2.500000
Mexico            1.375000       1.291667
Panama            1.333333       3.333333
Paraguay          1.366337       1.554455
Peru              1.391304       1.413043
Qatar             0.666667       1.666667
United States     1.000000       1.611111
Uruguay           1.542857       1.000000
Venezuela         0.742857       2.571429

In [7]:
#FUNCIÓN DE PREDICCIÓN DE PUNTOS

In [8]:
def prediccion_puntos(home, away):
    #si el equipo local y visitante están dentro de los dataframes entonces
    if home in df_team_strong.index and away in df_team_strong.index:
        #se calcula lambda multiplicando los goles en contra y a favor
        home_lambda = df_team_strong.at[home,"ScoredGoals"] * df_team_strong.at[away,"GoalsConceded"]
        away_lambda = df_team_strong.at[away,"ScoredGoals"] * df_team_strong.at[home,"GoalsConceded"]
        #Variables de probabilidades
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #rango de goles de local
            for y in range(0,11): #rango de goles de visita
                p = poisson.pmf(x, home_lambda) * poisson.pmf(y, away_lambda)
                if x==y:
                    prob_draw += p
                elif x>y:
                    prob_home += p
                else:
                    prob_away += p
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_home
        return(points_home, points_away)
    else:
        return(0,0)

In [9]:
#TESTEAR FUNCIÓN

In [10]:
prediccion_puntos("Peru", "Brazil")

(0.3882565657888843, 2.4551049239132166)

In [11]:
prediccion_puntos("Argentina", "Brazil")

(1.1290509021964836, 1.7132194441166906)

In [12]:
#PREDICCIÓN DEL MUNDIAL

In [13]:
#GRUPOS

In [14]:
df_fixture_group_48 = df_fixture[:24].copy()
df_fixture_cuartos = df_fixture[24:28].copy()
df_fixture_semifinal = df_fixture[28:30].copy()
df_fixture_final = df_fixture[30:].copy()

In [15]:
df_fixture_final

               home     score             away  years_america
30   Loser Match 29  Match 31   Loser Match 30           2024
31  Winner Match 29  Match 32  Winner Match 30           2024

In [16]:
#Cambiar los nombres delos países en acento latino a inglés

In [17]:
for group in dict_table:
    dict_table[group]['País'] = dict_table[group]['País'].replace('Perú', 'Peru')
    dict_table[group]['País'] = dict_table[group]['País'].replace('Brasil', 'Brazil')
    dict_table[group]['País'] = dict_table[group]['País'].replace('México', 'Mexico')
    dict_table[group]['País'] = dict_table[group]['País'].replace('Estados Unidos', 'United States')
    dict_table[group]['País'] = dict_table[group]['País'].replace('Panamá', 'Panama')

# Verifica el cambio
dict_table

{'Grupo A':         País  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
 0  Argentina     0   0   0   0   0   0   0     0
 1       Peru     0   0   0   0   0   0   0     0
 2      Chile     0   0   0   0   0   0   0     0
 3     Canadá     0   0   0   0   0   0   0     0,
 'Grupo B':         País  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
 0     Mexico     0   0   0   0   0   0   0     0
 1    Ecuador     0   0   0   0   0   0   0     0
 2  Venezuela     0   0   0   0   0   0   0     0
 3    Jamaica     0   0   0   0   0   0   0     0,
 'Grupo C':             País  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
 0  United States     0   0   0   0   0   0   0     0
 1        Uruguay     0   0   0   0   0   0   0     0
 2         Panama     0   0   0   0   0   0   0     0
 3        Bolivia     0   0   0   0   0   0   0     0,
 'Grupo D':          País  Pts.  PJ  PG  PE  PP  GF  GC  Dif.
 0      Brazil     0   0   0   0   0   0   0     0
 1    Colombia     0   0   0   0   0   0   0     0
 2    Paraguay     0   0   0   0   0   0   0     0
 3  Costa Rica     0   0   0   0   0   0   0     0}

In [18]:
#Correr todos los partidos de las fases de grupos y actualizar las tablas

In [19]:
for group in dict_table:
    teams_in_group = dict_table[group]["País"].values
    #cada grupo tiene 6 partidos, agrupamos los partido de 6 en 6 para la simulación
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48["home"].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row["home"], row["away"]
        points_home, points_away = prediccion_puntos(home, away)
        dict_table[group].loc[dict_table[group]["País"] == home, "Pts."] += int(points_home)
        dict_table[group].loc[dict_table[group]["País"] == away, "Pts."] += int(points_away)
        
    dict_table[group] = dict_table[group].sort_values("Pts.", ascending=False).reset_index()
    dict_table[group] = dict_table[group][["País", "Pts."]]
    dict_table[group] = dict_table[group].round(0)

In [20]:
#CAMBIANDO LOS NOMBRES DE LOS GRUPOS A INGLÉS 
new_titles = {
    'Grupo A': 'Group A',
    'Grupo B': 'Group B',
    'Grupo C': 'Group C',
    'Grupo D': 'Group D'
}
dict_table = {new_titles[key]: value for key, value in dict_table.items()}
dict_table

{'Group A':         País  Pts.
 0  Argentina     4
 1       Peru     2
 2      Chile     1
 3     Canadá     0,
 'Group B':         País  Pts.
 0     Mexico     5
 1    Ecuador     5
 2  Venezuela     3
 3    Jamaica     0,
 'Group C':             País  Pts.
 0        Uruguay     6
 1  United States     3
 2        Bolivia     3
 3         Panama     2,
 'Group D':          País  Pts.
 0      Brazil     6
 1    Colombia     4
 2    Paraguay     2
 3  Costa Rica     1}

In [21]:
#OCTAVOS

In [22]:
#SE ACTUALIZA EL DICCIONARIO CON LOS GANADORES DE LA FASE DE GRUPOS

In [23]:
for group in dict_table:
    group_winner = dict_table[group].loc[0,"País"]
    runners_up = dict_table[group].loc[1,"País"]
    df_fixture_cuartos.replace({f"Winner {group}": group_winner, f"Runner-up {group}": runners_up}, inplace=True)

df_fixture_cuartos["Winner"] = "?"

In [24]:
df_fixture_cuartos

         home     score           away  years_america Winner
24  Argentina  Match 25        Ecuador           2024      ?
25     Mexico  Match 26           Peru           2024      ?
26    Uruguay  Match 27       Colombia           2024      ?
27     Brazil  Match 28  United States           2024      ?

In [25]:
#PREDICCIÓN DE CUARTOS DE FINAL

In [26]:
def get_winner(df_fixture_update):
    for index, row in df_fixture_update.iterrows():
        home, away = row["home"],row["away"]
        points_home, points_away = prediccion_puntos(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_update.loc[index, "Winner"] = winner
    return df_fixture_update

In [27]:
get_winner(df_fixture_cuartos)

         home     score           away  years_america     Winner
24  Argentina  Match 25        Ecuador           2024  Argentina
25     Mexico  Match 26           Peru           2024       Peru
26    Uruguay  Match 27       Colombia           2024    Uruguay
27     Brazil  Match 28  United States           2024     Brazil

In [28]:
#Actualizar la tabla
#round 1 es antiguo y round 2 el nuevo
def update_table(df_fíxture_round_1, df_fixture_round_2):
    for index, row in df_fíxture_round_1.iterrows():
        winner = df_fíxture_round_1.loc[index, "Winner"]
        match = df_fíxture_round_1.loc[index, "score"]
        df_fixture_round_2.replace({f"Winner {match}": winner}, inplace=True)
    df_fixture_round_2['winner'] = "?"
    return df_fixture_round_2

In [29]:
#Actualizando la tabla semifinal
update_table(df_fixture_cuartos, df_fixture_semifinal)

         home     score    away  years_america winner
28  Argentina  Match 29    Peru           2024      ?
29    Uruguay  Match 30  Brazil           2024      ?

In [30]:
#APrediciendo lo SEMIFINAL
get_winner(df_fixture_semifinal)

         home     score    away  years_america winner     Winner
28  Argentina  Match 29    Peru           2024      ?  Argentina
29    Uruguay  Match 30  Brazil           2024      ?     Brazil

In [31]:
update_table(df_fixture_semifinal, df_fixture_final)

              home     score            away  years_america winner
30  Loser Match 29  Match 31  Loser Match 30           2024      ?
31       Argentina  Match 32          Brazil           2024      ?

In [32]:
get_winner(df_fixture_final)

,home,score,away,years_america,winner,Winner
30,Loser Match 29,Match 31,Loser Match 30,2024,?,Loser Match 30
31,Argentina,Match 32,Brazil,2024,?,Brazil